<article class="blog-post">
  <h2 class="blog-post-title text-light">Edit Comment</h2>
  
  <%= simple_form_for [@article, @comment] do |f| %>
    <div class="form-inputs">
      <%= f.input :body, input_html: { rows: 8, class: 'bg-dark text-light' }, label_html: { class: 'text-light' } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-outline-light' %>
    </div>
  <% end %>
</article>
