<h1 class="text-light">Editing Category</h1>

<%= render 'form', category: @category %>

<%= link_to 'Show', @category, class: 'btn btn-outline-light' %> |
<%= link_to 'Back', categories_path, class: 'btn btn-outline-light' %>
