<p style="color: #ffffff;">Hello <%= @resource.email %>!</p>

<p style="color: #ffffff;">Someone has requested a link to change your password. You can do this through the link below.</p>

<p>
  <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: "color: #add8e6; font-weight: bold;" %>
</p>

<p style="color: #ffffff;">If you didn't request this, please ignore this email.</p>
<p style="color: #ffffff;">Your password won't change until you access the link above and create a new one.</p>