<footer class="blog-footer" style="background-color: #121212; color: #ffffff; padding: 20px;">
  <p>Blog template built for <a href="https://getbootstrap.com/" style="color: #bb86fc;">Bootstrap</a> by <a href="https://twitter.com/mdo" style="color: #bb86fc;">@mdo</a>.</p>
  <p>
    <a href="#" style="color: #bb86fc;">Back to top</a>
  </p>
</footer>
